/* font Family */
$primary-kr : 'SUIT', sans-serif;
$secondary-kr: 'SpoqaHanSansNeo-Regular';
$primary-en : "Montserrat", sans-serif;
/* text color */
$dark-black :  #333333; //본문 색상
$dim-black :  #555555;
$silver-black :  #777777;
$light-black :  #999999;
$dark-gray :  #BDBDBD;
$dim-gray :  #DDDDDD;
$silver-gray :  #EEEEEE; //input 보더 색상
$light-gray :  #F5F5F5;
$cloudy-gray :  #F9F9F9;
/* object color */
$purple : #894FFC;
$royalblue : #3b83ff;
$orangered : #f8930f;
$orange : #FFD912;
$crimson : #fc1c49;
$forestgreen : #20AC60;
$turquoise : #00D2D3;
$tomato : #FF4C79;
$main-light: #fff0f0;
$main-sub: #ffdad8;
$main-dark: #d60039;
$white : #FFFFFF;
$black : #171717;